
/* Apply flexbox layout */
.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* Apply responsive styles using media queries */
@media (max-width: 768px) { /* Adjust styles for tablets */
  .app-container {
    flex-direction: row;
    overflow-x: hidden;
  }
  
  .content-container {
    flex-direction: column;
  }
}

@media (max-width: 576px) { /* Adjust styles for phones */
  .app-container {
    flex-direction: column;
  }
  
  .content-container {
    flex-direction: column;
  }
}

/* styles.css */
.sidebar {
  background-color: rgb(169, 250, 169);
}

.sidebar-content {
  padding: 20px;
}
.main{
  text-align: center;
  background-color: bisque;
}
.main-content {
  background-color: #ffffff;
  /* border: 1px solid #ccc; */
  padding: 20px;
  background-color: bisque;
}

.bottom {
  background-color:aqua;
  border-top: 1px solid #ccc;
  padding: 20px;
}
.bottom-content{
  padding: 20px;
  text-align: center;
}
.img{
  /* margin: 10px; */
  width: 30vw;
  /* height: 100vh; */
  border-radius: 5px;
}


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
}

h2 {
  margin-top: 0;
  text-align: center;
}

form {
  display: flex;
  flex-wrap: wrap;
}

form input {
  flex: 1;
  margin: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button {
  flex: 1;
  margin: 5px;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th, table td {
  padding: 10px;
  border: 1px solid #ccc;
}

table th {
  background-color: #007bff;
  color: #fff;
}

table tr:hover {
  background-color: #f2f2f2;
}

.counts {
  margin-top: 20px;
}

@media only screen and (max-width: 600px) {
  form input, form button {
    flex: 100%;
  }
}
.count{
  border: 1px solid #ccc;

}
